#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

.app-container ul {
  list-style: none;
  margin-left: 5px;


  & li {
    & span {
      display: flex;
      padding: 7px;
      gap: 10px;
    }
  }
}
